.format-menutopic .course-content ul.topics {
    margin: 0;
}

.format-menutopic .course-content ul.topics li.section {
    list-style: none;
    margin: 5px 0 0 0;
    padding: 0;
}

.format-menutopic .course-content ul.topics li.section .content {
    margin: 0 40px;
}

.format-menutopic .course-content ul.topics li.section .position-left {
    width: 40px;
    float: left;
    text-align: center;
}

.format-menutopic .course-content ul.topics li.section .position-right {
    width: 40px;
    float: right;
    text-align: center;
}

.format-menutopic .jumpmenu {
    text-align: center;
}

#page-content div#region-pre.format_menutopic_correctstyle,
#page-content div#region-post.format_menutopic_correctstyle {
    overflow: visible;
}

#format_menutopic_menu.format-menutopic-menu {
    z-index: 9998;
}

#format_menutopic_menu.format-menutopic-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #fff;
    z-index: 9999;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#format_menutopic_menu.format-menutopic-menu .menu-body-content > li {
    border: 1px solid #ccc;
}

#format_menutopic_menu.format-menutopic-menu .menu-body-content li a {
    text-decoration: none;
    padding: 5px 12px;
    display: block;
    white-space: nowrap;
}

#format_menutopic_menu.format-menutopic-menu .menu-body-content .submenu-body-content li a {
    border-bottom: 1px solid #ccc;
}

#format_menutopic_menu.format-menutopic-menu .menu-body-content li a:hover {
    background-color: #ccc;
}

#format_menutopic_menu.format-menutopic-menu .menu-body-content li ul {
    display: none;
    position: absolute;
    min-width: 150px;
    border: 1px solid #ccc;
}

#format_menutopic_menu.format-menutopic-menu .menu-body-content li:hover > ul {
    display: block;
}

#format_menutopic_menu.format-menutopic-menu li.current {
    background-color: #ccc;
}

#format_menutopic_menu.format-menutopic-menu li.current::before {
    content: unset;
}

#format_menutopic_menu.format-menutopic-menu li.disabled {
    background-color: #eee;
}

#format_menutopic_menu.format-menutopic-menu li.disabled a {
    color: #aaa;
}

/* MIDDLE MENU */
#region-main #format_menutopic_menu.format-menutopic-menu ul.submenu-body-content {
    box-shadow: 5px 10px 12px -4px #888;
}

#region-main #format_menutopic_menu.format-menutopic-menu .menu-level-1 ul.submenu-body-content {
    left: 100%;
    top: 0;
}

#region-main #format_menutopic_menu.format-menutopic-menu .menu-level-0 > .menu-withsubitems > a {
    padding-right: 20px;
}

#region-main #format_menutopic_menu.format-menutopic-menu .menu-level-0 > .menu-withsubitems > a:after {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 0.255em;
    vertical-align: 0.255em;
    content: "";
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-bottom: 0;
    border-left: 0.3em solid transparent;
    color: rgba(0, 0, 0, 0.9);
    font-size: 100%;
}

#region-main #format_menutopic_menu.format-menutopic-menu .menu-level-1 .menu-withsubitems > a {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 0.255em;
    vertical-align: 0.255em;
    content: "";
    border-left: 0.3em solid;
    border-bottom: 0.3em solid transparent;
    border-right: 0;
    border-top: 0.3em solid transparent;
    color: rgba(0, 0, 0, 0.9);
}

/* LEFT MENU */
#format_menutopic_menu.format-menutopic-menu {
    margin-bottom: 10px;
}

#block-region-side-pre #format_menutopic_menu.format-menutopic-menu ul.submenu-body-content,
#nav-drawer #format_menutopic_menu.format-menutopic-menu ul.submenu-body-content {
    border: 1px solid #ccc;
    left: 100%;
    top: 0;
    box-shadow: 5px 10px 12px -4px #888;
}

#nav-drawer #format_menutopic_menu.format-menutopic-menu ul.submenu-body-content {
    left: auto;
    right: 0;
}

#block-region-side-pre #format_menutopic_menu.format-menutopic-menu .menu-body-content > li,
#nav-drawer #format_menutopic_menu.format-menutopic-menu .menu-body-content > li {
    position: relative;
    white-space: normal;
}

#block-region-side-pre #format_menutopic_menu.format-menutopic-menu .menu-body-content > li,
#nav-drawer #format_menutopic_menu.format-menutopic-menu .menu-body-content > li a {
    white-space: normal;
}

#block-region-side-pre #format_menutopic_menu.format-menutopic-menu .menu-withsubitems > a:after,
#nav-drawer #format_menutopic_menu.format-menutopic-menu .menu-withsubitems > a:after {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 0.255em;
    vertical-align: 0.255em;
    content: "";
    border-left: 0.3em solid;
    border-bottom: 0.3em solid transparent;
    border-right: 0;
    border-top: 0.3em solid transparent;
    color: rgba(0, 0, 0, 0.9);
}

/* RIGHT MENU */
#block-region-side-post #format_menutopic_menu.format-menutopic-menu {
    margin-bottom: 10px;
}

#block-region-side-post #format_menutopic_menu.format-menutopic-menu ul.submenu-body-content {
    border: 1px solid #ccc;
    right: 100%;
    top: 0;
    box-shadow: -5px 10px 12px -4px #888;
}

#block-region-side-post #format_menutopic_menu.format-menutopic-menu .menu-body-content > li {
    position: relative;
}

#block-region-side-post #format_menutopic_menu.format-menutopic-menu li a {
    padding-left: 20px;
}

#block-region-side-post #format_menutopic_menu.format-menutopic-menu .menu-withsubitems > a:before {
    display: inline-block;
    width: 0;
    height: 0;
    margin-right: 0.255em;
    vertical-align: 0.255em;
    content: "";
    border-right: 0.3em solid;
    border-bottom: 0.3em solid transparent;
    border-left: 0;
    border-top: 0.3em solid transparent;
    color: rgba(0, 0, 0, 0.9);
}

.format-menutopic .menutopic_hideicons .activityicon {
    display: none;
}

.format-menutopic .summary img.activityicon {
    margin-right: 3px;
    vertical-align: text-bottom;
}

#format_menutopic_menu.format-menutopic-menu li.menuitem.menu-withsubitems {
    position: relative;
}

.format-menutopic ul.topics {
    list-style: none;
}

.format-menutopic .content > .summary .quickeditlink {
    display: none;
}

.format-menutopic .content .summarytext .iconwithhelp {
    cursor: pointer;
}

.format-menutopic .content .summarytext .iconwithhelp .icon {
    margin: 0;
}

.format-menutopic #treecontainer ul.tree,
.format-menutopic #treecontainer ul.tree ul {
    list-style: none;
    margin: 0;
    padding-left: 0;
    background-color: #f9f9f9;
    color: black;
}

.format-menutopic #treecontainer ul.tree li {
    margin-left: 17px;
    cursor: pointer;
    position: relative;
    min-height: 30px;
    border-bottom: 1px solid #ddd;
    padding: 5px;
}

.format-menutopic #treecontainer ul.tree li:hover {
    background-color: #eee;
}

.format-menutopic #treecontainer .operations.main {
    text-align: right;
}

.format-menutopic #treecontainer ul.tree .operations {
    display: none;
    margin-right: 5px;
    position: absolute;
    right: 0;
    top: 0;
}

.format-menutopic #treecontainer ul.tree li:hover > .operations {
    display: inline-block;
}

.format-menutopic #treecontainer .operations > span {
    border: 1px solid #aaa;
    background-color: #fff;
    color: #333;
    border-radius: 5px;
    width: 25px;
    height: 25px;
    display: inline-block;
    text-align: center;
    margin-right: 2px;
    box-shadow: 1px 1px 1px #333;
    cursor: pointer;
}

.format-menutopic #treecontainer .operations > span:hover {
    border: 1px solid #aaa;
    background-color: #333;
    color: #fff;
}

.format-menutopic #treecontainer .root-level > li > .operations span[data-action="toleft"],
.format-menutopic #treecontainer li:first-child > .operations span[data-action="toright"],
.format-menutopic #treecontainer li:first-child > .operations span[data-action="toup"],
.format-menutopic #treecontainer li:last-child > .operations span[data-action="todown"] {
    display: none;
}

.format-menutopic #treecontainer [aria-expanded="false"] > [role="group"] {
    display: none;
}

.format-menutopic #treecontainer ul.tree li > input {
    border: 1px solid #fff;
    background-color: transparent;
    width: 100%;
}

.format-menutopic #treecontainer ul.tree li > input:hover {
    border: 1px solid #ccc;
    background-color: #fff;
}

.format-menutopic .treeeditform td {
    padding: 5px;
}

.format-menutopic .treeeditform input {
    border: 1px solid #ccc;
}

.format-menutopic #id_treeeditgeneral .form-inline .form-control-static {
    display: inline;
}

.format-menutopic li.activity > div {
    position: relative;
}

.format-menutopic.path-mod #page-header {
    display: none;
}

.format-menutopic .editmode-form .btn i {
    margin: 0;
}

.format-menutopic #navbarmenutopic .navbar-nav {
    flex-wrap: wrap;
}

.format-menutopic #navbarmenutopic .navbar-nav .nav-item {
    text-align: center;
    display: flex;
    align-items: center;
    line-height: 16px;
}

.format-menutopic #navbarmenutopic .navbar-nav .nav-item.menu-level-0.active {
    border-bottom: solid 3px var(--primary);
}

.format-menutopic #navbarmenutopic .dropdown-menu-dark .dropdown-item {
    color: var(--dark);
}

.format-menutopic #navbarmenutopic .dropdown-menu-dark .dropdown-item:hover {
    color: var(--light);
}

.format-menutopic #navbarmenutopic .dropdown-menu-dark .dropdown-item.current {
    color: var(--light);
    font-weight: bold;
}

.format-menutopic #navbarmenutopic .dropdown-menu-dark .dropdown-item.disabled {
    opacity: 0.7;
}

.format-menutopic.editing #navbarmenutopic .dropdown-menu-dark .dropdown-item.disabled {
    pointer-events: auto;
    cursor: pointer;
}

/* Template styles */
.format-menutopic .menutopic .cmnameinline .activityiconcontainer {
    width: auto;
    height: auto;
    padding: 0.2rem;
}

.format-menutopic .availability_info_box {
    display: inline;
}

.format-menutopic .activityinsummarytpl .description .course-description-item {
    background-color: transparent;
}

.format-menutopic .activityinsummarytpl .description .availabilityinfo {
    display: inline-block;
    min-width: 300px;
    margin: 0;
    padding: 0;
}

/* End of template styles */

/* Completion */
.format-menutopic .menutopic .completiontag img.icon {
    margin: 0 3px 0 5px;
}

.format-menutopic .menutopic .completiontag .showcompletionconditions {
    position: absolute;
}

.format-menutopic .menutopic .completiontag .showcompletionconditions:hover {
    z-index: 2;
    background-color: #fff;
    padding: 5px;
    border: 1px solid;
    border-radius: 5px;
}

.format-menutopic .menutopic .completiontag .showcompletionconditions .activity-information {
    display: none;
}

.format-menutopic .menutopic .completiontag .showcompletionconditions:hover .activity-information {
    display: block;
}

.format-menutopic .menutopic .completiontag .showcompletionconditions:hover > img {
    display: none;
}
/* End of completion*/

/* The slide navigation is only available to wide screens */
@media (min-width: 600px) {

    .format-menutopic .sectionsnavigation-slides {
        position: relative;
    }

    .format-menutopic .single-section.sectionsnavigation-slides .nextsection a,
    .format-menutopic .single-section.sectionsnavigation-slides .prevsection a {
        display: none;
        font-size: 0;
        position: absolute;
        top: calc(50% - 40px);
        background-color: #fff;
        border-radius: 25px;
        border: 1px solid #dee2e6;
        width: 50px;
        height: 50px;
        align-items: center;
        justify-content: center;
        opacity: 0.3;
        box-shadow: 2px 2px 4px 1px #ccc;
        text-decoration: none;
    }

    .format-menutopic .single-section.sectionsnavigation-slides:hover .nextsection a,
    .format-menutopic .single-section.sectionsnavigation-slides:hover .prevsection a {
        display: flex;
    }

    .format-menutopic .single-section.sectionsnavigation-slides:hover .nextsection a {
        right: -30px;
    }

    .format-menutopic .single-section.sectionsnavigation-slides:hover .prevsection a {
        left: -20px;
    }

    .format-menutopic .single-section.sectionsnavigation-slides .nextsection span,
    .format-menutopic .single-section.sectionsnavigation-slides .prevsection span {
        font-size: 40px;
    }

    .format-menutopic .single-section.sectionsnavigation-slides .nextsection a:hover,
    .format-menutopic .single-section.sectionsnavigation-slides .prevsection a:hover {
        opacity: 1;
        cursor: pointer;
        width: auto;
        font-size: inherit;
    }

    .format-menutopic .single-section.sectionsnavigation-slides .prevsection a:hover {
        text-align: left;
        justify-content: left;
        padding-right: 10px;
    }

    .format-menutopic .single-section.sectionsnavigation-slides .nextsection a:hover {
        text-align: right;
        justify-content: right;
        padding-left: 10px;
        flex-direction: row-reverse;
    }
}
/* End of slide navigation */
