.course-content ul.topics {margin:0;}
.course-content ul.topics li.section {list-style: none;margin:5px 0 0 0;padding:0;}
.course-content ul.topics li.section .content {margin:0 40px;}
.course-content ul.topics li.section .left {width:40px;float:left;text-align:center;}
.course-content ul.topics li.section .right {width:40px;float:right;text-align:center;}
.jumpmenu {text-align:center;}
#page-content div#region-pre.format_menutopic_correctstyle, #page-content div#region-post.format_menutopic_correctstyle { overflow: visible; }

#format_menutopic_menu.format-menutopic-menu { z-index: 9998; }

#format_menutopic_menu.format-menutopic-menu ul { list-style:none; margin: 0; padding: 0;  background-color: #fff; z-index: 9999; }

#format_menutopic_menu.format-menutopic-menu .menu-body-content > li { border: 1px solid #ccc; }

#format_menutopic_menu.format-menutopic-menu .menu-body-content li a { text-decoration:none; padding:5px 12px; display:block; white-space: nowrap; }

#format_menutopic_menu.format-menutopic-menu .menu-body-content .submenu-body-content li a { border-bottom: 1px solid #ccc; }

#format_menutopic_menu.format-menutopic-menu .menu-body-content li a:hover { background-color:#ccc; }

#format_menutopic_menu.format-menutopic-menu .menu-body-content li ul { display:none; position:absolute; min-width: 150px; border: 1px solid #ccc; }

#format_menutopic_menu.format-menutopic-menu .menu-body-content li:hover > ul { display:block; }
#format_menutopic_menu.format-menutopic-menu li.current { background-color: #ccc; }
#format_menutopic_menu.format-menutopic-menu li.disabled { background-color: #eee; }
#format_menutopic_menu.format-menutopic-menu li.disabled a { color: #aaa; }

/*MIDDLE MENU*/
#format_menutopic_menu.format-menutopic-menu.middle ul.submenu-body-content { box-shadow: 5px 10px 12px -4px #888888; }
#format_menutopic_menu.format-menutopic-menu.middle .menu-level-1 ul.submenu-body-content { left: 100%; top: 0px; }
#format_menutopic_menu.format-menutopic-menu.middle .menu-body-content > li { float:left; }

#format_menutopic_menu.format-menutopic-menu.middle .menu-level-0 > .menu-withsubitems > a { background: transparent url('data:image/png;base64, iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAA3XAAAN1wFCKJt4AAAAB3RJTUUH3wUDBBEKQexGFgAAAG1JREFUOMtjYBgFFANGGGPmzJlbGBgYvInR9P///50ZGRkeDAwMDExI4gmMjIyniNB/k5GRMQbDBVBX8DMyMu76//+/GS7NLCwsTsnJyc+wGkDAEAzNWA3AYQhWzTgNQDPkPwsLSxA2zaOASgAA3qEubXRkM3AAAAAASUVORK5CYII=') no-repeat right; padding-right: 20px; }

#format_menutopic_menu.format-menutopic-menu.middle .menu-level-1 .menu-withsubitems > a { background: transparent url('data:image/png;base64, iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAA3XAAAN1wFCKJt4AAAAB3RJTUUH3wUBFgkJ71UwYAAAAHlJREFUOMtjYBiUYMaMGTtmzpwpQoxaJmyCjIyM7gwMDEfmzp0rRZYBUKD+58+ffYQMYSJgAUFDmIjwJl5DmIgMV/U/f/6so8QABkZGRkayDWBkZDz1//9/N7IMgGlOT0//SLIBhDTjNYAYzfgM2Pr//39vQpoHBwAArjU5dUnRaZsAAAAASUVORK5CYII=') no-repeat right; }

/*LEFT MENU*/
#format_menutopic_menu.format-menutopic-menu.left { margin-bottom: 10px; }
#format_menutopic_menu.format-menutopic-menu.left ul.submenu-body-content { border: 1px solid #ccc; left: 100%; top: 0px; box-shadow: 5px 10px 12px -4px #888; }
#format_menutopic_menu.format-menutopic-menu.left .menu-body-content > li { position: relative; }

#format_menutopic_menu.format-menutopic-menu.left .menu-withsubitems > a { background: transparent url('data:image/png;base64, iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAA3XAAAN1wFCKJt4AAAAB3RJTUUH3wUBFgkJ71UwYAAAAHlJREFUOMtjYBiUYMaMGTtmzpwpQoxaJmyCjIyM7gwMDEfmzp0rRZYBUKD+58+ffYQMYSJgAUFDmIjwJl5DmIgMV/U/f/6so8QABkZGRkayDWBkZDz1//9/N7IMgGlOT0//SLIBhDTjNYAYzfgM2Pr//39vQpoHBwAArjU5dUnRaZsAAAAASUVORK5CYII=') no-repeat right; }

/*RIGHT MENU*/
#format_menutopic_menu.format-menutopic-menu.right { margin-bottom: 10px; }
#format_menutopic_menu.format-menutopic-menu.right ul.submenu-body-content { border: 1px solid #ccc; right: 100%; top: 0px; box-shadow: -5px 10px 12px -4px #888; }
#format_menutopic_menu.format-menutopic-menu.right .menu-body-content > li { position: relative; }

#format_menutopic_menu.format-menutopic-menu.right li a { padding-left: 20px; }
#format_menutopic_menu.format-menutopic-menu.right .menu-withsubitems > a { background: transparent url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAA3XAAAN1wFCKJt4AAAAB3RJTUUH3wUBFgkh2uCYmgAAAHVJREFUOMvV07ENgDAMRNELck/DLFRUjMAKnsp7QAGbsEDWOBaI4UQFaa3/FMkJ8IsTEUNErK2ZCXFfStlIjq15J8RHFt8CSpwCapwCapwCJKluqAmY2QLgfA24ezWzWUHSLajI7TtQkO7piu5eAUwk929+tAu+vzRgSFpKQwAAAABJRU5ErkJggg==') no-repeat left; }


.format-menutopic .menutopic_hideicons .activityicon { display: none; }
.format-menutopic .availability_info_box { display: inline; }
.format-menutopic .summary img.activityicon { margin-right: 3px; vertical-align: text-bottom; }

#format_menutopic_menu.format-menutopic-menu li.menuitem.menu-withsubitems { position: relative; }