{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template format_menutopic/configtree

    Menu tree config.

    Example context (json):
    {
        "displayform": "HTML form",
        "sections": [
            {
                "number": "1",
                "name": "Section 1"
            },
            {
                "number": "2",
                "name": "Section 2"
            }
        ]
    }
}}

{{{displayform}}}

<div id="editsheetform" style="display: none">
    <div class="treeeditform">
        <table>
            <tr>
                <th>{{#str}} name_sheet_sheetedit, format_menutopic {{/str}}</th>
                <td><input id="name_text" size="40"></td>
            </tr>
            <tr>
                <th>{{#str}} topic_sheet_sheetedit, format_menutopic {{/str}}</th>
                <td>
                    <select id="select_topic">
                        <option label=" "></option>
                        {{#sections}}
                            <option value="{{number}}">{{name}}</option>
                        {{/sections}}
                    </select>
                </td>
            </tr>
            <tr>
                <th>{{#str}} url_sheet_sheetedit, format_menutopic {{/str}}</th>
                <td><input id="url_text" size="40"></td>
            </tr>
            <tr>
                <th>{{#str}} target_sheet_sheetedit, format_menutopic {{/str}}</th>
                <td>
                    <select id="select_target">
                        <option label=" "></option>
                        <option value="_blank">{{#str}} targetblank_sheet_sheetedit, format_menutopic {{/str}}</option>
                        <option value="_self">{{#str}} targetself_sheet_sheetedit, format_menutopic {{/str}}</option>
                    </select>
                </td>
            </tr>
        </table>
    </div>
</div>
