{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template format_menutopic/header

    Menu item edition.

    Example context (json):
    {
        "baseurl": "https://moodle_wwwroot_url",
        "hasmsgs": "true",
        "msgs": [{
            "message": "Configutation saved."
        }],
        "menuitems": [],
        "viewconfig": false,
        "viewtree": true,
        "viewjstemplate": false,
        "viewcsstemplate": false
    }
}}

<div id="format_menutopic_menu-edition" class="format-menutopic-menu-boots">
    {{#hasmsgs}}
        {{#msgs}}
            {{>core/notification_info}}
        {{/msgs}}
    {{/hasmsgs}}

    <nav class="navbar navbar-expand-md navbar-dark bg-primary">
        <div class="container-fluid">
            <span class="navbar-brand">{{#str}} editmenu, format_menutopic {{/str}}</span>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarmenutopic" aria-controls="navbarmenutopic" aria-expanded="false" aria-label="{{#str}}togglemenu, format_menutopic{{/str}}">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarmenutopic">

                <ul class="menu-body-content menu-level-0 navbar-nav me-auto">
                    {{#menuitems}}
                        {{>format_menutopic/courseformat/submenu}}
                    {{/menuitems}}
                </ul>

            </div>

            <a href="{{baseurl}}/course/view.php?id={{courseid}}{{#displaysection}}&section={{displaysection}}{{/displaysection}}" class="btn btn-light" title="{{#str}}end_editmenu, format_menutopic{{/str}}">{{#pix}} i/configlock, core {{/pix}}</a>
        </div>
    </nav>

    {{#formatdata}}
        {{#viewconfig}}
            {{>format_menutopic/config}}
        {{/viewconfig}}
        {{#viewtree}}
            {{>format_menutopic/configtree}}
        {{/viewtree}}
        {{#viewjstemplate}}
            {{>format_menutopic/configjstemplate}}
        {{/viewjstemplate}}
        {{#viewcsstemplate}}
            {{>format_menutopic/configcsstemplate}}
        {{/viewcsstemplate}}
    {{/formatdata}}

</div>
